.propertyLists {
    margin-inline: auto;
    padding: 1rem 5rem;
    background-color: rgba(228, 228, 228, .4);
}

.propertyLists .title {
    font-weight: 700;
    margin-top: 2rem;
    text-transform: capitalize;
    margin-right: auto;
    font-family: Inter;
}

.propertyLists .line {
    display: block;
    width: 80px;
    height: 2px;
    background-color: #F4511E;
    margin-bottom: 1rem;
}

.propertyLists .properties {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.propertyLists .btn {
    font-family: Manrope;
    color: white;
    background-color: #F4511E;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

.flex {
    display: flex;
    align-items: flex-end;
}

@media(max-width: 700px) {
    .propertyLists {
        padding-inline: 1rem;
    }

    .propertyLists .title {
        font-size: 1.7rem;
    }

    .propertyLists .btn {
        padding: 1rem;
        font-size: .7rem;
    }
}